.band {
  @include for_mobile {
    width: 67%;
    padding: 30px 0 0;

    border-top: $border_button_light;
  }
}

.band__controls {
  @include font_character(14px, 18px, $beaver);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between;
  align-items: center;

  position: relative;

  margin: 0 0 19px 0;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 5.5%;

    top: 45%;
    left: 50%;
    transform: translateX(-50%);

    background-color: currentColor;
  }

  input {
    display: block;
    width: 41.76%;
    height: 30px;
    padding: 5px 10px;

    color: inherit;
    letter-spacing: 0.2px;

    border: $border_button_light;
    background-color: transparent;

    transition-duration: 100ms;

    outline: none;

    @include only_desktop {
      &:hover,
      &:focus {
        border: $border_button_dark;
        color: $signal_black;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}

.band__scale {
  position: relative;
}

.band__bar {
  width: 100%;
  height: 1px;

  background-color: $beaver;

  position: relative;
}

.band__toggle {
  position: absolute;
  top: 1px;

  width: 18px;
  height: 18px;
  padding: 6px;

  border-radius: 50%;
  background-color: $light_olive_gray;
  background-clip: content-box;

  cursor: pointer;

  &--min {
    left: 0;
    transform: translate(-50%, -50%);
  }

  &--max {
    right: 0;
    transform: translate(50%, -50%);
  }

  @include only_desktop {
    &:hover,
    &:focus {
      background-color: $signal_black;
    }

    &:active {
      background-color: $pale_brown;
    }
  }
}

.band__gap {
  position: absolute;
  width: 49.5%;
  height: 2px;
  top: 0;
  transform: translate(30%, -50%);

  background-color: $beaver;
}
