.button {
  @include link_default_remove;
  @include font_character(22px, 22px, $pale_taupe);

  font-family: $font_family_serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04em;
  border: $border_button_light;

  display: block;

  transition-duration: 100ms;

  overflow: hidden;
  text-overflow: ellipsis;

  &--dark {
    @include font_character(22px, 22px, $pale_taupe);
    border: $border_button_dark;

    @include for_mobile {
      background-color: rgba($color: $greenish_black, $alpha: 0.8);
    }
  }

  &--light {
    @include font_character(22px, 22px, $light_olive_gray);
    border: $border_button_light;
  }
}

.button:hover,
.button:focus,
.button:active {
  outline: none;
}

.button--dark:hover,
.button--dark:focus {
  @include only_desktop {
    background-color: $pale_taupe;
    color: $greenish_black;
  }
}

.button--light:hover,
.button--light:focus {
  @include only_desktop {
    background-color: $beaver;
    color: $pearl_white;
  }
}

.button:active {
  @include only_desktop {
    opacity: 0.3;
  }
}
