.catalogue__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: flex-start;

  @include for_mobile {
    position: relative;
  }
}

.catalogue__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between;
  align-items: stretch;

  @include for_tablet {
    padding: 0 15px;
  }

  &--no-js {
    @include for_mobile {
      flex-direction: column;
    }
  }
}
