.header {
  &--dark {
    background-color: $greenish_black;
  }

  &--light {
    background-color: $pearl_white;
  }
}

.header__inner {
  @include font_character(18px, 18px, $beaver);

  font-family: $font_family_serif;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 33px 21px 33px 53px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: 10;

  &--catalogue {
    position: static;

    padding: 34px 21px 34px 53px;
  }

  &--card {
    position: static;

    padding: 34px 35px 38px 53px;
  }

  @include for_tablet {
    min-height: 54px;

    padding: 10px 10px 10px 15px;

    &--catalogue {
      position: static;
    }

    &--card {
      @include for_tablet {
        padding: 12px 10px 15px 15px;
      }
    }

    &--no-js {
      position: static;

      flex-wrap: wrap;

      .header__button--open,
      .header__button--close,
      .header__list {
        display: none;
      }

      .header__wrapper {
        position: static;
        width: 100%;
        transform: none;
        min-height: auto;
      }
    }
  }
}

.header__button {
  display: none;

  @include for_tablet {
    @include button_default_remove;

    display: block;

    flex-shrink: 0;

    &--open {
      width: 18px;
      height: 12px;

      background-image: url("../img/icon_sandwich.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &--close {
      width: 14px;
      height: 14px;

      background-image: url("../img/icon_close.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &:active,
    &:focus {
      outline: none;
      opacity: 0.6;
    }
  }
}

.header__logo-link {
  margin: 0 20px 0 0;

  transition-duration: 100ms;

  outline: none;

  @include for_tablet {
    margin: auto;
  }

  @include only_desktop {
    &:hover:not(.header__logo-link--current),
    &:focus:not(.header__logo-link--current) {
      opacity: 0.6;
      transform: translateY(-5px);
    }

    &:active:not(.header__logo-link--current) {
      opacity: 0.3;
      transform: translateY(-8px);
    }
  }

  &--dark {
    color: $pale_taupe;
  }

  &--light {
    color: $beaver;

    @include for_tablet {
      color: $pale_taupe;
    }
  }
}

.header__logo-image {
  @include for_tablet {
    width: 130px;
    height: 22px;
  }
}

.header__wrapper {
  flex-grow: 1;
  width: 79.94%;

  @include for_tablet {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    width: 95%;
    min-height: 100vh;

    padding: 18px 15px 18px 15px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: $forest_wolf;

    transform: translateX(-100%);

    &--open {
      transform: translateX(0);
      transition-property: transform;
      transition-duration: 300ms;
      transition-timing-function: linear;
    }

    &--close {
      transform: translateX(-100%);
      transition-property: transform;
      transition-duration: 300ms;
      transition-timing-function: linear;
    }
  }
}

.header__nav {
  flex-grow: 1;
}

.header__list {
  @include list_default_remove;
}

.header__link {
  @include link_default_remove;

  &--cart-shortcut {
    display: none;

    @include for_tablet {
      display: block;
      width: 30px;
      height: 30px;

      background-image: url("../img/icon_basket.svg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
}
