.nav__inner {
  @include font_character(18px, 18px, $beaver);

  font-family: $font_family_serif;
  text-transform: uppercase;

  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--bottom {
    flex-direction: column;
    justify-content: stretch;

    width: 98%;
    min-height: 60px;
    padding: 17px 0 14px;
    margin: 0 auto;

    border-top: $border_button_light;
    border-bottom: $border_button_light;
  }

  &--dark {
    color: $pale_taupe;

    border-top: $border_button_dark;
    border-bottom: $border_button_dark;
  }

  &--light {
    text-transform: initial;
  }

  @include for_mobile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    min-width: auto;
  }
}

.nav__list {
  @include list_default_remove;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include for_mobile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  &--categories {
    padding: 0;

    justify-content: center;
    flex-grow: 1;

    @include for_mobile {
      margin-bottom: 5px;
    }
  }

  &--user-menu {
    font-size: 0;

    flex-wrap: nowrap;
    flex-shrink: 0;

    @include for_mobile {
      @include font_character(16px, 19px, $beaver);

      order: -1;

      margin-bottom: 40px;
    }
  }

  &--purchase {
    font-size: 0;

    flex-wrap: nowrap;

    @include for_mobile {
      flex-direction: column-reverse;

      font-size: 18px;
    }
  }

  &--bottom {
    align-self: stretch;
    flex-grow: 1;
  }
}

.nav__item {
  @include for_mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &:not(:last-child) .nav__link--bottom {
    margin-right: 10px;
  }
}

.nav__link {
  @include link_default_remove;

  position: relative;

  display: block;
  margin: 0 15px 0 0;
  padding: 5px;

  transition-duration: 100ms;

  &--bottom {
    margin: 0;
    padding: 5px 0;

    letter-spacing: 0.4px;
  }

  &--light {
    margin: 0 20px 0 0;
  }

  @include for_mobile {
    width: 100%;
    height: auto;
    min-height: 38px;

    margin: 0;
    padding-left: 0;
  }

  &--current {
    color: $juicy_chestnut_craiola;
  }

  &--login {
    width: 30px;
    height: 30px;

    background-image: url("../img/icon_user.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @include for_mobile {
      width: auto;
      height: auto;
      min-height: auto;

      padding: 0 5px 5px 35px;
      margin: 0 auto;

      background-position: 8.5% 43%;
      background-size: 12px 14px;

      font-family: $font_family_sans_serif;
      text-transform: initial;
    }
  }

  &--logout {
    display: none;

    @include for_mobile {
      @include streak_default_remove;

      display: block;
      width: 16px;
      height: 18px;
      min-height: auto;

      background-image: url("../img/icon_logout.svg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  &--search {
    width: 30px;
    height: 30px;

    background-image: url("../img/icon_search.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @include for_mobile {
      width: 100%;
      height: auto;
      min-height: 57px;

      padding: 18px 5px 18px 26px;

      background-position: 0% 50%;
    }
  }

  &--cart {
    @include font_character(14px, 18px, $juicy_chestnut_craiola);

    width: 30px;
    height: 30px;

    font-family: $font_family_sans_serif;
    text-align: center;

    background-image: url("../img/icon_basket.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @include for_mobile {
      width: 100%;
      height: auto;
      min-height: 59px;

      margin-right: 17px;
      padding: 19px 5px 19px 0;

      background: none;

      border-top: $border_button_dark;
      border-bottom: $border_button_dark;
    }
  }

  &--match {
    @include font_character(14px, 18px, $juicy_chestnut_craiola);

    position: relative;

    width: 30px;
    height: 30px;

    font-family: $font_family_sans_serif;
    text-align: center;

    background-image: url("../img/icon_match_add.svg");
    background-size: 28px 14px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @include for_mobile {
      display: none;
    }
  }

  &--match-off {
    display: none;
  }

  span {
    width: 100%;

    position: absolute;
    left: 0;
    top: 100%;

    @include for_mobile {
      display: none;
    }
  }
}

.nav__link:hover:not(.nav__link--current):not(.nav__link--active),
.nav__link:focus:not(.nav__link--current):not(.nav__link--active) {
  @include only_desktop {
    outline: none;
    opacity: 0.6;
    transform: translateY(-5px);
  }
}

.nav__link:active:not(.nav__link--current):not(.nav__link--active) {
  @include only_desktop {
    outline: none;
    opacity: 0.3;
    transform: translateY(-8px);
  }
}
