.panel {
  width: 82%;

  @include for_mobile {
    width: 100%;
  }
}

.panel__inner {
  min-width: auto;
  padding: 0 5.5% 0 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: flex-start;

  @include for_tablet {
    min-height: auto;
    padding: 27px 0 0;
  }
}

.panel__item {
  width: 320px;
  min-height: 468px;
  min-width: 25%;
  padding: 0 20px 30px;

  flex-grow: 1;
  flex-shrink: 1;

  @include for_tablet {
    min-height: auto;
    padding: 0 0 24px;

    &:nth-of-type(n+6) {
      display: none;
    }
  }
}
