.socials__list {
  @include list_default_remove;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  min-width: 100px;
}

.socials__link {
  @include link_default_remove;

  display: block;

  &--dark {
    color: $beige_gray;

    transition: 100ms;

    &:hover,
    &:focus {
      @include only_desktop {
        outline: none;
        opacity: 0.6;
        transform: translateY(-5px);
      }
    }

    &:active {
      @include only_desktop {
        outline: none;
        opacity: 0.3;
        transform: translateY(-8px);
      }
    }
  }

  &--light {
    color: $pale_taupe;
  }
}
