.socials__list {
  @include list_default_remove;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  min-width: 100px;
}

.socials__link {
  @include link_default_remove;

  display: block;

  transition: 100ms;

  &--middle {
    color: $beige_gray;
  }

  &--dark {
    color: $pale_taupe;
  }

  &--light {
    color: $beaver;
  }

  @include only_desktop {
    &:hover,
    &:focus {
      outline: none;
      opacity: 0.6;
      transform: translateY(-5px);
    }

    &:active {
      outline: none;
      opacity: 0.3;
      transform: translateY(-8px);
    }
  }
}
