.visually_hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @include streak_default_remove;

  box-sizing: border-box;
}

body {
  @include streak_default_remove;

  font-family: $font_family_sans_serif;

  min-width: $width_mobile;

  background-color: $pearl_white;
}
