@font-face {
  font-family: "Hagin Caps Medium";
  src: local("Hagin Caps Medium"), local("HaginCapsMedium"), local("Hagin Caps Medium Medium"), local("HaginCapsMediumMedium"), url("../fonts/hagin-caps-medium-medium.woff2") format("woff2"), url("../fonts/hagin-caps-medium-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "variables";
@import "mixins";
@import "base";
@import "blocks/inner";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/presentation";
@import "blocks/socials";
@import "blocks/button";
@import "blocks/advantage";
@import "blocks/slider";
@import "blocks/product";
@import "blocks/service";
