@font-face {
  font-weight: normal;
  font-family: "hagin caps medium";
  font-style: normal;
  font-display: swap;
  src: local("hagin caps medium"),
    local("hagincapsmedium"),
    local("hagin caps medium medium"),
    local("hagincapsmediummedium"),
    url("../fonts/hagin-caps-medium-medium.woff2") format("woff2"),
    url("../fonts/hagin-caps-medium-medium.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "roboto";
  font-style: normal;
  font-display: swap;
  src: local("roboto"),
    local("roboto regular"),
    local("robotoregular"),
    local("roboto-regular"),
    url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
}

@keyframes plus {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes minus {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@import "variables";
@import "mixins";
@import "base";
@import "blocks/inner";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/presentation";
@import "blocks/socials";
@import "blocks/button";
@import "blocks/advantage";
@import "blocks/slider";
@import "blocks/product";
@import "blocks/service";
@import "blocks/footer";
@import "blocks/filters";
@import "blocks/settings";
@import "blocks/catalogue";
@import "blocks/band";
@import "blocks/panel";
@import "blocks/pagination";
@import "blocks/breadcrumbs";
@import "blocks/product-card";
@import "blocks/rating";
@import "blocks/product-summary";
@import "blocks/comment";
@import "blocks/warranty";
@import "blocks/recommendation";
